.color-body {
  height: 100vh;
  background-color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Almarai", sans-serif, "Tajawa1";
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: #1f2278;
  --orange-color: #f17732;
  --btn-color: #565acf;
}
section,
footer,
header {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 25px 0px;
  margin-top: 50px;
}
a {
  text-decoration: none !important;
}
span {
  display: block;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
button {
  text-align: center;
  box-sizing: border-box;
  height: 40px;
  border-radius: 4px;
}

footer p {
  font-size: 17px;
}
footer .footer-icon  {
 box-sizing: border-box;
 line-height: 40px;
 border: 1px solid var(--orange-color);
  background-color: var(--orange-color);
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-bottom-left-radius: 30px;
}

footer .footer-icon svg {
  color: #fff;
  text-align: center;
  padding-left: 10px;
}
footer .col-md-3 a{
  color: black;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  transition: .4s ;
}
footer h3{
  color: var(--main-color);
}
footer h4 {
  color: var(--main-color);
}
footer h6{
  color: var(--orange-color);
}
footer .col-md-3 a:hover{
  color: var(--main-color) ;
  font-size: 20px;
}
footer .col-md-3 input{
  color: black !important;
  background-color: rgb(201, 197, 197);
  border-radius: 10px;
  border: none;
  width:240px;
  height: 60px;
  margin: 10px 0px;
}

footer .col-md-3 button{
  color: rgb(255, 255, 255) !important;
  background-color:var(--orange-color);
  border-radius: 10px;
  border: none;
  width:240px;
  height: 60px;
  margin: 10px 0px;
}
footer .col-md-3 a img {
  margin-right: 14px;
}